/*************

COLOR PALETTE

BG
#1a1a1a;
#e6e6e6;
#f2f2f2;

TEXT
#595959;
#737373;
#b3b3b3;

EXTRAS
#6ecbbd;

*************/


@font-face {
    font-family: 'web-icons';
    src: url('icons/fontawesome-5.12.1/otfs/solid.otf');
}

* {
    box-sizing: border-box;
}

/* .icon:hover {
    cursor: pointer;
} */

.icon {
    font-family: "web-icons";
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

a,
a:visited {
    /* text-decoration: none; */
}

body {
    font-family: 'Karla', sans-serif;
    color: #1a1a1a;
}

.oswald {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

#skip-to-main a {
    background: #fff;
    position: absolute;
    top: -50px;
    padding: 5px;
    -webkit-transition: top 250ms ease;
    transition: top 250ms ease-out;
    z-index: 999;
}

#skip-to-main a:focus {
    top: 0;
}

.logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    max-width: 100%;
    max-height: 100%;
}

.navbar {
    /* display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 10px;
    background-image: linear-gradient(180deg, #e6e6e6, #f2f2f2);
    box-shadow: 0 1px 2px 0 #ccc;
}

#nav-overlay {
    display: none;
    z-index: 998;
    position: absolute;
    overflow: hidden;
    background-color: #fff;
    top: 100%;
    width: 100%;
    left: 0;
    right: 0;
    box-shadow: 0 1px 2px 0 #ccc;
    /* height: 0; */
    /* -webkit-transition: all 250ms ease;
    transition: all 250ms ease; */
}

#nav-overlay.open {
    display: block;
    /* height: 100vh; */
}

nav {
    font-family: 'Oswald', sans-serif;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 25px 0;
    color: #808080;
    font-weight: 300;
    border-top: 1px solid #f2f2f2;
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}

nav a:hover:not(.current),
nav a:focus:not(.current) {
    color: #1a1a1a;
    text-decoration: underline;
}

nav a.current {
    color: #1a1a1a;
    font-weight: 600;
}

nav a:last-child {
    border-bottom: 1px solid #f2f2f2;
}

.toggle-menu {
    display: block;
    width: 60px;
    height: 60px;
    padding: 22px;
}

.burger {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.burger::before {
    content: "\f0c9";
}

main {
    padding-top: 60px;
}

header,
section {
    color: #595959;
    font-size: 14px;
    line-height: 1.5;
}

header {
    padding: 20px;
}

header p {
    margin: 15px auto;
}

.quote {
    background-image: linear-gradient(180deg, rgba(20, 20, 20, .5), rgba(10, 10, 10, .5)), url("../img/placeholders/placeholder01.jpeg");
    background-color: #666;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    padding: 30px 45px;

}

.quote p {
    color: #fff;
    line-height: 1.5;
}

section {
    padding: 40px 20px;
}

.heading {
    font-size: 25px;
    color: #737373;
}

.subheading {
    text-transform: uppercase;
    color: #b3b3b3;
    margin: 0;
}

.project {
    margin: 20px auto 80px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.project:last-child {
    margin-bottom: 20px;
}

.project-title {
    font-size: 20px;
    padding: 15px 0;
    font-weight: 400;
}

.project-img img {
    width: 100%;
}

.project-summary {
    font-size: 14px;
    line-height: 1.5;
    color: #737373;
}

.project-summary p:not(:first-of-type) {
    margin: 15px auto;
}

.project-summary p:last-of-type {
    margin-bottom: 0;
}

footer {
    background-color: #1a1a1a;
    background-image: linear-gradient(180deg, #333, #1a1a1a);
    color: rgba(255, 255, 255, .8);
    padding: 20px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

.footer-container {
    max-width: 600px;
    margin: auto;
}

.social-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-top: 1px solid color: rgba(255, 255, 255, .3);
    color: rgba(255, 255, 255, .8);
    margin-bottom: 10px;
    padding: 20px;
}

.social-container .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0 15px;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .65);
    -webkit-transition: background-color 250ms ease;
    transition: background-color 250ms ease-out;
}

.social-container .icon:hover,
.social-container .icon:focus {
    background-color: #6ecbbd;
    border-color: #6ecbbd;
}

.footer-container p {
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, .15);
}



/*************

MEDIA QUERIES

*************/

/* tablet */
@media all and (min-width: 800px) {
    .toggle-menu {
        display: none;
    }

    #nav-overlay {
        display: inline-block;
        position: static;
        background-color: transparent;
        box-shadow: none;
    }

    nav {
        text-align: right;
    }

    nav a {
        display: inline-block;
        padding: 0 20px;
    }

    nav a, nav a:last-child {
        border-color: transparent;
    }

    .quote p {
        line-height: 1.5;
    }

    .heading,
    .subheading {
        text-align: center;
    }

    .heading {
        font-size: 30px;
    }

    .subheading {
        font-size: 16px;
    }

    .project {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 40px;
    }

    .project-title {
        padding-top: 0;
    }

    .project-img {
        flex: 1 40%;
    }

    .project-desc {
        flex: 1 60%;
        margin-left: 60px;
    }

    .project:nth-child(2n+1) .project-desc {
        order: 1;
        margin-left: 0;
        margin-right: 60px;
    }

    .project:nth-child(2n+1) .project-img {
        order: 2;
    }
}



/* desktop */
@media all and (min-width: 1200px) {
    .navbar {
        right: auto;
        width: 15%;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
        background-image: linear-gradient(0deg, #e6e6e6, #f2f2f2);
        box-shadow: 2px 0 2px -1px #cccccc;
        /* box-shadow: 0 1px 2px 0 #dcdcdc; */
    }

    nav {
        text-align: center;
    }

    nav a {
        display: block;
        padding: 30px 10px;
    }

    main {
        padding-top: 0;
        padding-left: 15%;
        /* padding: 100px 200px 100px 350px; */
    }

    section {
        padding: 50px 100px;
    }

    footer {
        padding-left: 15%;
    }
}



/* reduced motion */
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }

    #skip-to-main a {
        -webkit-transition: none;
        transition: none;
    }
}
